In [3]:
from typing import Dict, Union, Optional
import pprint

key = Union[int, str] # Create Custom type
value = Union[int, str, dict, set, tuple]

data : Dict[key,value] = {
    "name" : "Muhammad Afzal",
    "age" :     26,
    "city" : "Nankana Sahib",
    "country" : "Pakistan",
    "hobbies" : {"reading", "writing", "coding"},
    "education" : "Masters in Computer Science"
}
pprint.pprint(data)
print(data["hobbies"])
print(data["age"])

{'age': 26,
 'city': 'Nankana Sahib',
 'country': 'Pakistan',
 'education': 'Masters in Computer Science',
 'hobbies': {'writing', 'coding', 'reading'},
 'name': 'Muhammad Afzal'}
{'writing', 'coding', 'reading'}
26

# Dictionary Methods
* 1. clear() - removes all the elements from the dictionary
* 2. copy() - returns a copy of the dictionary
* 3. fromkeys() - creates a new dictionary from the given key-value pairs
* 4. get() - returns the value of the specified key
* 5. items() - returns a view object that displays a list of dictionary'
* 6. keys() - returns a list of all the available keys in the dictionary
* 7. pop() - removes the element with the specified key
* 8. popitem() - removes the last inserted key-value pair
* 9. setdefault() - returns the value of the specified key. If the key does
* 10. update() - updates the dictionary with the specified key-value pairs
* 11. values() - returns a list of all the values in the dictionary

In [6]:
from typing import Dict, Union, Optional
import pprint

key = Union[int, str] # Create Custom type
value = Union[int, str, dict, set, tuple]

data : Dict[key,value] = {
    "name" : "Muhammad Afzal",
    "age" :     26,
    "city" : "Nankana Sahib",
    "country" : "Pakistan",
    "hobbies" : {"reading", "writing", "coding"},
    "education" : "Masters in Computer Science"
}

print("before",data)
data.clear()
print("After", data)

methods : list[str] = [m for m in dir(data) if "__" not in m]
print(methods)

before {'name': 'Muhammad Afzal', 'age': 26, 'city': 'Nankana Sahib', 'country': 'Pakistan', 'hobbies': {'coding', 'reading', 'writing'}, 'education': 'Masters in Computer Science'}
After {}
['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [11]:
from typing import Dict, Union, Optional
import pprint

key = Union[int, str] # Create Custom type
value = Union[int, str, dict, set, tuple]

data : Dict[key,value] = {
    "name" : "Muhammad Afzal",
    "age" :     26,
    "city" : "Nankana Sahib",
    "country" : "Pakistan",
    "hobbies" : {"reading", "writing", "coding"},
    "education" : "Masters in Computer Science"
}

print("before",data)
a : str = data.popitem()
print(a)
print("After", data)

before {'name': 'Muhammad Afzal', 'age': 26, 'city': 'Nankana Sahib', 'country': 'Pakistan', 'hobbies': {'coding', 'reading', 'writing'}, 'education': 'Masters in Computer Science'}
('education', 'Masters in Computer Science')
After {'name': 'Muhammad Afzal', 'age': 26, 'city': 'Nankana Sahib', 'country': 'Pakistan', 'hobbies': {'coding', 'reading', 'writing'}}

In [5]:
from typing import Dict, Union, Optional
import pprint

key = Union[int, str] # Create Custom type
value = Union[int, str, dict, set, tuple]

data : Dict[key,value] = {
    "name" : "Muhammad Afzal",
    "age" :     26,
    "city" : "Nankana Sahib",
    "country" : "Pakistan",
    "hobbies" : {"reading", "writing", "coding"},
    "education" : "Masters in Computer Science"
}

data1 : Dict[key, value] ={
    "name" : "Faizi Developer",
    "age" : 26,
    "city" : "Shahkot",
    "country" : "Pakistan",
    "hobbies" : {"reading", "writing", "coding", "traveling"},
    "education" : "Masters in Data Science"
}

data.update(data1) # this will updata all Data 
data

{'name': 'Faizi Developer',
 'age': 26,
 'city': 'Shahkot',
 'country': 'Pakistan',
 'hobbies': {'coding', 'reading', 'traveling', 'writing'},
 'education': 'Masters in Data Science'}

In [7]:
import pandas as pd
from typing import Any, Dict

students_data : Dict[str, list[Any]] = {
    "roll no" : [1,2,3],
    "name" : ["Muhammad Afzal", "Iqbal Yousaf", "Ali"],
    "age" : [26, 52, 15],
    "city" : ["Nankana Sahib", "Nankana Sahib", "Nankana Sahib"],
    "education" : ["Masters", "Matric", "Matric"]
}

df : pd.DataFrame = pd.DataFrame(students_data)
df

   roll no            name  age           city education
0        1  Muhammad Afzal   26  Nankana Sahib   Masters
1        2    Iqbal Yousaf   52  Nankana Sahib    Matric
2        3             Ali   15  Nankana Sahib    Matric

In [1]:
favorite_languages = {
 'faizi': 'python',
 'being': 'nextjs',
 'ahsan': 'C++',
 'haroon': 'python',
 }
language = favorite_languages['haroon'].title()
print(f" Haroon's favorite language is {language}.")

 Haroon's favorite language is Python.